body{
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centralizar{
    margin: 0 auto;
    width: 80%;
}

ul{
    margin: 0;
    padding: 0;
}

/* nav, ul{
    display: inline;
} */

/* Topo */

.topo{
    background-color: #262626;
    height: 55px;
}

.divtopo{
    position: relative;
    height: inherit;
}

.divtopo ul li{
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 15px;
    line-height: 55px;
}

.divtopo ul li:hover{
    background-color: #404040;
}

.divtopo a{
    color: #F0EFEF;
}

.divtopo a:hover{
    color: #dadada;
    text-decoration: none;
}

.divtopo a i{
    padding-right: 10px;
    font-size: 22px;
}

.nav1{
    position: absolute;
    left: 0;
}

.divtopo img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15%);
}

.nav2{
    position: absolute;
    right: 0;
}

/* tn-online */

.tnonline{
    background-color: white;
    height: 150px;
}

.divtnonline{
    position: relative;
    height: inherit;
}

.divtnonline ul li{
    display: inline-block;
    line-height: 150px;
    margin-right: 20px;
}

.divtnonline nav{
    position: absolute;
    left: 0%;
}

.divtnonline a{
    color: #E61F22;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.divtnonline a:hover{
    text-decoration: none;
}

.divtnonline a i{
    font-size: 26px;
    font-weight: bold;
    padding-right: 15px;
}

.divtnonline .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divtnonline .revista{
    position: absolute;
    right: 3%;
    bottom: 0;
}

/* Barra Menu */

.barranav{
    background-color: #E61F22;
    height: 45px;
}

.divbarranav{
    position: relative;
    height: inherit;
}

.divbarranav ul li{
    display: inline-block;
    line-height: 45px;
    margin-right: 20px;
}

.divbarranav nav{
    position: absolute;
    left: 0;
}

.apis{
    position: absolute;
    right: 0;
}

.divbarranav a, .apis{
    color: #F0EFEF;
    text-transform: uppercase;
    font-size: 14px;
}

.divbarranav a:hover{
    color: #dadada;
    text-decoration: none;
}

.apis li i{
    font-size: 22px;
    margin: 0 10px;
}

.apis ul{
    display: flex;
    align-items: center;
}

.apis{
    display: flex;
}

.apis li:nth-child(2), .apis li:nth-child(3){
    display: flex;
    align-items: center;
}

/* Mais Lidas */

.maislidas{
    background-color: #F9F9F9;
    height: 97px;
}

.divmaislidas{
    position: relative;
    height: inherit;
    padding: 10px 0px;
    box-sizing: border-box;
}

.vertodos{
    position: absolute;
    left: 0%;
    padding: 15px 40px 15px 0px;
    border-right: 2px solid #E0E0E0;
}

.vertodos p{
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.vertodos button{
    padding: 0px 40px;
    border: 1px solid #AAB0BA;
    border-radius: .3em;
    background-color: inherit;
    color: #AAB0BA;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

article ul{
    display: flex;
    padding-left: 15%;
}

article ul li{
    list-style-type: none;
    font-size: 13px;
    padding: 5px 10px;
}

/* Vitrine */

.vitrine{
    background-color: #F24B4B;
    height: 84px;
}

.divvitrine{
    position: relative;
    height: inherit;
}

nav .home{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

nav .logovitrine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav .menu{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

nav .home a, nav .menu a{
    font-size: 26px;
    color: white;
}

/* Air Fryer */

.airfryer{
    background-color: #FCFBFB;
    margin-top: 40px;
    margin-bottom: 50px;
}

.airfryer h1{
    font-size: 32px;
}

.airfryer img{
    float:left;
}

.info{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.info1{
    /* float: left; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40px;
    width: 50%;
}

.info1 p, .info2 p{
    margin: 0;
}

.nomesecao{
    text-transform: uppercase;
    font-weight: 600;
    color: #bbb;
}

.precoant{
    font-size: 26px;
    text-decoration: line-through;
    font-weight: bold;
    color: #bbb;
}

.precoatual{
    font-size: 36px;
    font-weight: bold;
    color: #F24B4B;
    padding-bottom: 5px;
    display: flex;
    position: relative;
    top: -10px;
    left: 0;
}

.botaoestoque{
    border-radius: 1.5em;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
}

.botaopromocao{
    border-radius: .5em;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 90px;
    background-color: #51C07A;
    color: white;
    border: none;
}

.info2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.redessociais{
    border: none;
    padding: 12px 20px;
    font-size: 22px;
    border-radius: .3em;
    color: white;
}

.globo{
    background-color: #3E98AE;
}

.facebook{
    background-color:#4642A5;
}

.whats{
    background-color: #42A577;
}

/* Descrição do Produto */

.descricao p, .descricao span{
    font-size: 18px;
}

.descricao h2{
    font-size: 20px;
    display: inline;
}

/* Seção Produtos */

.border-radius-secao{
    /* width: 151px; */
    height: 60px;
    padding: 10px 20px;
    background-color: #272727;
    border-radius: .3em;
    outline: none;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    /* line-height: 60px;
    text-align: center; */
    display: inline-block;
}

.card-body h6, .precoant{
    font-size: 14px;
    color: #C7C7C7;
}

.preco, .desconto{
    color: #707070;
    font-weight: bold;
    font-size: 18px;
}

.card-rodape{
    display: flex;
}

.promocao{
    background-color: #F24B4B;
    color: white;
    border-radius: 0 0 0 .3em;
}

.detalhes{
    background-color: #F2F2F2;
    color: #333333;
    border-radius: 0 0 .3em 0;
}

.promocao, .detalhes{
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 8px;
    font-size: 13px;
    font-weight: 600;
}

.promocao:hover, .detalhes:hover{
    text-decoration: none;
}

.promocao:hover{
    color: #F2F2F2;
}

.detalhes:hover{
    color: #5c5c5c;
}

/*  */

.cupons{
    background-color: #51C07A;
    color: white;
    border-radius: 0 0 .3em .3em;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 8px;
    font-size: 16px;
    font-weight: 600;
}

.cupons:hover{
    text-decoration: none;
    color: #eee;
}