body{
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3.125em 10% 1.25em;
}

/* .centralizar{
    margin: 50px 10% 20px;
}
 */

nav{
    float: right;
}

ul{
    margin: 0;
    padding: 0;
    line-height: 48px;
}

nav ul li{
    display: inline-block;
    font-size: 16px;
    margin-left: 12px;
    text-transform: uppercase;
}

nav ul li:nth-child(3){
    position: relative;
}

.seta{
    color: #F24B4B;
}

.borda{
    border: 1px solid black;
}

.border-radius{
    width: 90px;
    height: 28px;
    background-color: #F24B4B;
    border-radius: .7em;
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
    text-align: center; 

    /* Alinhar conteúdo */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/*  */

.border-radius-secao{
    width: 151px;
    height: 60px;
    background-color: #272727;
    border-radius: .3em;
    outline: none;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    display: inline-block;
}

/*  */