body{
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3.125em 10% 1.25em;
}

/* .centralizar{
    margin: 50px 10% 20px;
}
 */

nav{
    float: right;
}

ul{
    margin: 0;
    padding: 0;
    line-height: 48px;
}

nav ul li{
    display: inline-block;
    font-size: 14px;
    margin-left: 12px;
    text-transform: uppercase;
}

nav ul li:nth-child(3){
    position: relative;
}

.seta{
    color: #F24B4B;
}

.borda{
    border: 1px solid black;
}

.border-radius{
    width: 90px;
    height: 28px;
    background-color: #F24B4B;
    border-radius: .7em;
    outline: none;
    border: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
    text-align: center; 

    /* Alinhar conteúdo */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/*  */

.border-radius-secao{
    /* width: 151px; */
    height: 60px;
    padding: 10px 20px;
    background-color: #272727;
    border-radius: .3em;
    outline: none;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    /* line-height: 60px;
    text-align: center; */
    display: inline-block;
}

/*  */

.card-body h6, .precoant{
    font-size: 14px;
    color: #C7C7C7;
}

.precoant{
    font-weight: bold;
    text-decoration: line-through;
}

.preco, .desconto{
    color: #707070;
    font-weight: bold;
    font-size: 18px;
}

.card-rodape{
    display: flex;
}

.promocao{
    background-color: #F24B4B;
    color: white;
    border-radius: 0 0 0 .3em;
}

.detalhes{
    background-color: #F2F2F2;
    color: #333333;
    border-radius: 0 0 .3em 0;
}

.promocao, .detalhes{
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 8px;
    font-size: 13px;
    font-weight: 600;
}

.promocao:hover, .detalhes:hover{
    text-decoration: none;
}

.promocao:hover{
    color: #F2F2F2;
}

.detalhes:hover{
    color: #5c5c5c;
}

/*  */

.cupons{
    background-color: #51C07A;
    color: white;
    border-radius: 0 0 .3em 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 7px 8px;
    font-size: 16px;
    font-weight: 600;
}

/*  */

.artigo{
    background-color: white;
    padding: 20px;
}

.artigo h5{
    font-size: 18px;
    font-weight: 600;
}

.artigo p{
    font-size: 14px;
    color: #A9A9A9;
    font-weight: 400;
}

