body{
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centralizar{
    margin: 0 auto;
    width: 80%;
}

ul{
    margin: 0;
    padding: 0;
}

/* nav, ul{
    display: inline;
} */

/* Topo */

.topo{
    background-color: #262626;
    height: 55px;
}

.divtopo{
    position: relative;
    height: inherit;
}

.divtopo ul li{
    display: inline-block;
    text-transform: uppercase;
    padding: 0px 15px;
    line-height: 55px;
}

.divtopo ul li:hover{
    background-color: #404040;
}

.divtopo a{
    color: #F0EFEF;
}

.divtopo a:hover{
    color: #dadada;
    text-decoration: none;
}

.divtopo a i{
    padding-right: 10px;
    font-size: 22px;
}

.nav1{
    position: absolute;
    left: 0;
}

.divtopo img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 15%);
}

.nav2{
    position: absolute;
    right: 0;
}

/* tn-online */

.tnonline{
    background-color: white;
    height: 150px;
}

.divtnonline{
    position: relative;
    height: inherit;
}

.divtnonline ul li{
    display: inline-block;
    line-height: 150px;
    margin-right: 20px;
}

.divtnonline nav{
    position: absolute;
    left: 0%;
}

.divtnonline a{
    color: #E61F22;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.divtnonline a:hover{
    text-decoration: none;
}

.divtnonline a i{
    font-size: 26px;
    font-weight: bold;
    padding-right: 15px;
}

.divtnonline .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.divtnonline .revista{
    position: absolute;
    right: 3%;
    bottom: 0;
}

/* Barra Menu */

.barranav{
    background-color: #E61F22;
    height: 45px;
}

.divbarranav{
    position: relative;
    height: inherit;
}

.divbarranav ul li{
    display: inline-block;
    line-height: 45px;
    margin-right: 20px;
}

.divbarranav nav{
    position: absolute;
    left: 0;
}

.apis{
    position: absolute;
    right: 0;
}

.divbarranav a, .apis{
    color: #F0EFEF;
    text-transform: uppercase;
    font-size: 14px;
}

.divbarranav a:hover{
    color: #dadada;
    text-decoration: none;
}

.apis li i{
    font-size: 22px;
    margin: 0 10px;
}

.apis ul{
    display: flex;
    align-items: center;
}

/* Mais Lidas */

.maislidas{
    background-color: #F9F9F9;
    height: 97px;
}

.divmaislidas{
    position: relative;
    height: inherit;
    padding: 10px 0px;
    box-sizing: border-box;
}

.vertodos{
    position: absolute;
    left: 0%;
    padding: 15px 40px 15px 0px;
    border-right: 2px solid #E0E0E0;
}

.vertodos p{
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.vertodos button{
    padding: 0px 40px;
    border: 1px solid #AAB0BA;
    border-radius: .3em;
    background-color: inherit;
    color: #AAB0BA;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

article ul{
    display: flex;
    padding-left: 15%;
}

article ul li{
    list-style-type: none;
    font-size: 13px;
    padding: 5px 10px;
}

/* Vitrine */

.vitrine{
    background-color: #F24B4B;
    height: 84px;
}

.divvitrine{
    position: relative;
    height: inherit;
}

nav .home{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
}

nav .logovitrine{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav .menu{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
}

nav .home a, nav .menu a{
    font-size: 26px;
    color: white;
}

/* Air Fryer */

.airfryer{
    background-color: #FCFBFB;
    margin-top: 40px;
    margin-bottom: 50px;
}

.airfryer img{
    float:left;
}

.info{
    /* float: left; */
    padding-left: 40px;
    width: 50%;
    position: relative;
}

.info p{
    margin: 0;
}

.nomesecao{
    text-transform: uppercase;
    font-weight: 600;
    color: #bbb;
}

.precoant{
    font-size: 26px;
    text-decoration: line-through;
    font-weight: bold;
    color: #bbb;
}

.precoatual{
    font-size: 36px;
    font-weight: bold;
    color: #F24B4B;
    padding-bottom: 5px;
    display: flex;
    position: relative;
    top: -10px;
    left: 0;
}

.botaoestoque{
    border-radius: 1.5em;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 25px;
    background-color: black;
    color: white;
}

.botaopromocao{
    border-radius: .5em;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 70px;
    background-color: #51C07A;
    color: white;
}

.info2{
    padding-top: 35px;
}